<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
   

</head>

<body>
    <header>
        
        
        <img src=" /images/logo-mercado-liebre.svg" width=" 360" alt="logo de mercado liebre">
        <div><input type="text" placeholder="Busca aqui"></div>
        <p class="cuerpos-de-texto">compra en cuotas y sin tarjeta de credito</p>
        <nav class="cuerpos-de-texto">
            <ul>
                <li>ofertas </li>
                <li>tiendas oficiales</li>
                <li>vender</li>
                <li>ayuda</li>
            </ul>
            <ul>
                <li>crea tu cuenta</li>
                <li>ingresar</li>
                <li>mis compras</li>
            </ul>
        </nav>
    </header>
    <section>
        <img src="/images/img-home-banner.jpg " width="360" alt=" home banner">
    </section>

    <main> 
        <section>
            <h3> Basado en tu ultima visita</h3>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="imagen de cafetera">
                <p  class="precios"> 6.770</p>
                <p class="descuento"> 40% off</p>
                <h4 class="descripciones"> Cafetera Moulinex</h4>
            </div>
            <div>
                <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="imagen de mcbook">
                <p  class="precios"> 230.000</p>
                <p class="descuento"> 20% off</p>
                <h4 class="descripciones"> MacBook Pro 2019</h4>
            </div>
            <div>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="imagen de samsung">
                <p  class="precios"> 70.500</p>
                <p class="descuento"> 10% off</p>
                <h4 class="descripciones"> Samsung Galaxy S10</h4>
            </div>
            <div>
                <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="imagen de tv">
                <p class="precios"> 23.200</p>
                <p class="descuento"> 5% off</p>
                <h4 class="descripciones"> SmartTv Samsung 43"</h4>
            </div>


        </section>




        <section>

        </section>
    </main>
</body>


<footer>


    <div>
        <p> 
            <h4 align= "center">Paga con tarjeta o en efectivo</h4>
            <h6 align= "center">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</h6>
        </p>
    </div>

    <div>
        <p> 
            <h4 align= "center">Envío gratis desde $ 2.500</h4>
            <h6 align= "center">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</h6>
        </p>
    </div>
    <div>
        <p> 
            <h4 align= "center">Seguridad, de principio a fin</h4>
            <h6 align= "center">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</h6>
        </p>
    </div>
    <div>
        <p> 
            <h4 align= "center">Copyright © 1999-2020 MercadoLiebre S.R.L</h4>
            
        </p>
    </div>



</footer>
</html>