<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

</head>

<body>
    <header>
        <div class="top-header">
            <img src=" /images/logo-mercado-liebre.svg" width=" 360" alt="logo de mercado liebre">
            <div><input type="text" placeholder="Busca aqui">
                <button> <i class="fas fa-search"></i></button>
            </div>

            <p class="cuerpos-de-texto"> <i class="fas fa-hand-holding-usd"></i></button> > compra en cuotas y sin
                tarjeta de credito</p>
            <nav class="cuerpos-de-texto">
                <ul>
                    <li>ofertas </li>
                    <li>tiendas oficiales</li>
                    <li>vender</li>
                    <li>ayuda</li>
                </ul>
                <ul>
                    <li>crea tu cuenta <i class="far fa-address-card"></i> </li>
                    <li>ingresar <i class="fas fa-sign-in-alt"></i> </li>
                    <li>mis compras <i class="fas fa-shopping-basket"></i> </li>
                </ul>
            </nav>
            <div class="button-container">
                <button class="burger-menu">
                    <i class="fas fa-bars"></i>
                </button>

            </div>


    </header>
    <section>
        <img src="/images/img-home-banner.jpg " width="360" alt=" home banner">
    </section>

    <main>
        <section>
            <h3> Basado en tu ultima visita</h3>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="imagen de cafetera">
                <p class="precios"> $6.770</p>
                <p class="descuento"> 40% off</p>
                <h4 class="descripciones"> Cafetera Moulinex</h4>
            </div>
            <div>
                <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="imagen de mcbook">
                <p class="precios"> $230.000</p>
                <p class="descuento"> 20% off</p>
                <h4 class="descripciones"> MacBook Pro 2019</h4>
            </div>
            <div>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="imagen de samsung">
                <p class="precios"> $70.500</p>
                <p class="descuento"> 10% off</p>
                <h4 class="descripciones"> Samsung Galaxy S10</h4>
            </div>
            <div>
                <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="imagen de tv">
                <p class="precios"> $23.200</p>
                <p class="descuento"> 5% off</p>
                <h4 class="descripciones"> SmartTv Samsung 43"</h4>
            </div>


        </section>

        <section>
            <h3> Basado en tu ultima visita</h3>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="imagen de cafetera">
                <p class="precios"> $6.770</p>
                <p class="descuento"> 40% off</p>
                <h4 class="descripciones"> Cafetera Moulinex</h4>
            </div>
            <div>
                <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="imagen de mcbook">
                <p class="precios"> $230.000</p>
                <p class="descuento"> 20% off</p>
                <h4 class="descripciones"> MacBook Pro 2019</h4>
            </div>
            <div>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="imagen de samsung">
                <p class="precios"> $70.500</p>
                <p class="descuento"> 10% off</p>
                <h4 class="descripciones"> Samsung Galaxy S10</h4>
            </div>
            <div>
                <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="imagen de tv">
                <p class="precios"> $23.200</p>
                <p class="descuento"> 5% off</p>
                <h4 class="descripciones"> SmartTv Samsung 43"</h4>
            </div>


        </section>



    </main>


    <footer class="icon">

        <div class="button-container">
        <i class="fas fa-credit-card"></i>
        </div>
        <p>
        <h4 align="center">Paga con tarjeta o en efectivo</h4>
        <h5 align="center">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</h5>
        </p>
    
        <div class="button-container">
        <i class="fas fa-gift"></i>
        </div>
        <p>
        <h4 align="center">Envío gratis desde $ 2.500</h4>
        <h5 align="center">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</h5>
        </p>
    
        <div class="button-container">
        <i class="fas fa-user-shield"></i>   
        </div>
        <p>
        <h4 align="center">Seguridad, de principio a fin</h4>
        <h5 align="center">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</h5>
        </p>
    
        <div>
            <p>
            <h5 align="left">Copyright © 1999-2020 MercadoLiebre S.R.L</h5>

            </p>
        </div>

    </footer>
</body>

</html>
