body {
  
font-family: 'Roboto', sans-serif;
}

header{
    background-color: #EAC926;

}
h3 {
    font-size: 24px;
}
h4{
   font-size: 20px;
   font-weight: bold;
   
}
.descuento {
    font-size: 16px;
}
.precios{
    font-size: 18px;
}
.descripciones{
    font-size: 16px;
}
.cuerpos-de-texto{
    font-size: 12px ;
}

.top-header p{
    text-align: center;
}

header nav ul li{
list-style-type: none;
}
header nav ul a{
  text-decoration: none;
  color: black;
    }

header nav ul{
        padding: 10px 0;
        
    }

header .button-container{
        text-align: center;
        padding-bottom: 10px;
            }


header .button-container button.burger-menu {

border-radius: 5px;
background-color: #03264c;
color: white;
padding: 10px;
font-size: 20px;
position: relative;

    }

header button.burger-menu i {
    
}


footer .button-container{
    text-align: center;
    padding-bottom: 10px;
    font-size: 2em;
    color: #03264c;
        }  
